@import '../../styles/settings.scss';

.columnForm {
    text-align: center;
    padding: 10px;

    input {
      margin-right: 15px;
    }
}

.inputTitle {
    margin: 12px;
}

@media (max-width: 767px){

    .columnForm {
        display: block;
    }

}
