@import '../../styles/settings.scss';

.columnForm {
    text-align: center;
    padding: 10px;
}

.inputTitle {
    margin: 12px;
}

@media (max-width: 767px){

    .columnForm {
        display: block;
    }

}
